@font-face{
	font-family:product sans;
	src:local('Product Sans'),local('ProductSans-Regular'),url(ProductSans-Regular.ttf) format('truetype');
	font-weight:400;
	font-style:normal
}
	
@font-face{
	font-family:product sans;
	src:local('Product Sans Bold'),local('ProductSans-Bold'),url(ProductSans-Bold.ttf) format('truetype');font-weight:700;font-style:normal}@font-face{font-family:product sans;
	src:local('Product Sans Italic'),local('ProductSans-Italic'),url(ProductSans-Italic.ttf) format('truetype');
	font-weight:400;
	font-style:italic}