$defaultPadding: 8px;

body {
  overflow: hidden;
  background-color: #000;
}

* {
  font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.background {
  pointer-events: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: end;

  img {
    display: block;
    object-fit: contain;
    max-height: 80%;
  }
}

.top-bar {
  padding: $defaultPadding;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.bar-link {
  text-decoration: none;
  color: rgb(229, 231, 235);
  padding: 16px;

  &:hover {
    color: darkgoldenrod;
  }
}

.text-title {
  color: white;
  font-weight: 800;
  font-size: 2.25em;
  width: fit-content;
  margin-bottom: 1.25em;
}

.text-description {
  color: #bbb;
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 1.25em;
}

.showcases-container {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase-1 {
  width: 50%;
}

.logo {
  height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  color: rgb(229, 231, 235);
  flex-grow: 1;
  font-weight: 220;
  font-style: normal;
  font-size: 1.2rem;
  font-family: "Roboto", serif;

  svg {
    width: 24px;
    height: 24px;
  }

  &:hover {
    color: darkgoldenrod;
    cursor: pointer;
  }
}

.badge {
  // font-family: Roboto Condensed;
  background-color: rgba(136, 136, 136, 0.133);
  color: #888;
  margin-right: 4px;
  padding: 1px 1px 4px 4px;
  border-radius: 4px;

  text-decoration: none !important;
  outline: none !important;

  &:hover {
    background-color: rgba(31,31,31, 1.0);
    color: darkgoldenrod;
    cursor: pointer;
  }
}

.text-overline {
  text-decoration: line-through;
}

.email {
  font-family: DM Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  &:hover {
    color: darkgoldenrod;
  }
}