body, html {
    margin: 0px;
}
* {
    box-sizing: border-box;
}
div {
    z-index: 2;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
