.social-link {
  color: #a6b2ee;
  margin-right: 20px;
  text-decoration: none;
}

.social {
  list-style: none
}

.social-title {
  margin-bottom: 10px
}

.social-item {
  display: inline-block;

  transition: transform .2s ease-in-out;
  transform: scale(1);

  &:hover {
    transform: scale(1.2);
  }
}