.footer {
  height: var(--footer-height);
  border-top: 1px solid var(--color-border);
  // padding: 1.5rem 0;
  font-size: 13px;
}

.link {
  white-space: nowrap;
  color: var(--color-text-muted);
  display: flex;
  align-items: center;
  gap: 4px;

  :hover {
    color: var(--color-text-link-hover);
  }
}

.madeby {
  display: flex;
  align-items: center;
  gap: 5px;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  gap: 1.5rem;
  max-width: var(--page-content-width);
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

@media screen and (min-width: 900px) {
  .footer {
    font-size: 14px;
  }

  .menu {
    flex-direction: row;
  }
}