name: Run build and linter

on:
  push:
    branches-ignore:
      - 'main'
  pull_request:
    branches: ["**"]

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v1

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: bun install

      - name: Build with Next.js
        run: bun run lint

      - name: Build with Next.js
        run: bun run build